In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
file1 = pd.read_csv('./static/Dataset/01_District_wise_crimes_committed_IPC_2001_2012.csv')
file2 = pd.read_csv('./static/Dataset/01_District_wise_crimes_committed_IPC_2013.csv')

In [3]:
frames = [file1, file2] 
file= pd.concat(frames)
file.shape

(9840, 33)

In [4]:
file.columns

Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')

In [5]:
file1 = file[['MURDER', 'RAPE', 'KIDNAPPING & ABDUCTION','DACOITY','ROBBERY', 'BURGLARY','THEFT', 'DOWRY DEATHS']]

In [6]:
filt = file[file['DISTRICT']=='TOTAL'].index
file.drop(filt, inplace=True)
file
filt = file[file['DISTRICT']=='ZZ TOTAL'].index
file.drop(filt, inplace=True)
file

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,Delhi UT,STF,2013,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,15
816,Delhi UT,WEST,2013,55,54,6,184,0,184,711,...,15,235,22,400,94,529,0,234,2393,8813
818,Lakshadweep,LAKSHADWEEP,2013,0,0,0,2,0,2,0,...,1,5,0,1,0,0,0,0,18,40
820,Puducherry,KARAIKAL,2013,6,3,0,6,0,6,3,...,3,160,1,1,1,1,0,32,329,643
821,Puducherry,PUDUCHERRY,2013,25,8,2,11,0,11,38,...,13,555,0,11,7,7,0,206,1464,3113

In [7]:
file['STATE/UT'] = file['STATE/UT'].str.upper()
file['DISTRICT'] = file['DISTRICT'].str.upper()

In [8]:
file1 = file[['MURDER', 'RAPE', 'KIDNAPPING & ABDUCTION','DACOITY','ROBBERY', 'BURGLARY','THEFT', 'DOWRY DEATHS']]

In [9]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4)

kmeans.fit(file1)

labels = kmeans.labels_

centroids = kmeans.cluster_centers_

score = kmeans.score(file1)
ymeans = kmeans.fit_predict(file1)
ymeans

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

array([3, 3, 0, ..., 3, 3, 3])

In [10]:
file1['label']= ymeans

C:\Users\HP\AppData\Local\Temp\ipykernel_16424\3759079658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file1['label']= ymeans

In [26]:
file1

,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY DEATHS,label
0,101,50,46,9,41,198,199,16,3
1,151,23,53,8,16,191,366,7,3
2,101,27,59,4,14,237,723,14,0
3,80,20,25,1,4,98,173,17,3
4,82,23,49,4,25,437,1021,12,0
...,...,...,...,...,...,...,...,...,...
815,0,0,0,0,0,0,0,0,3
816,55,184,711,1,64,337,3135,22,2
818,0,2,0,0,0,2,8,0,3
820,6,6,3,0,3,18,56,1,3
821,25,11,38,1,7,53,538,0,3

In [24]:
a1  = file1.groupby('label')[file1.columns].sum()
a1

,MURDER,RAPE,KIDNAPPING & ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,DOWRY DEATHS,label
label,,,,,,,,,
0,101253,63460,113294,15171,78205,344752,1307967,23552,0
1,10903,9466,30411,1211,18779,71012,455016,2124,32
2,25944,17940,48670,3529,40986,161694,793630,6088,486
3,300685,186195,251069,43797,146759,661457,1521940,68312,23214

In [27]:
xyz  = kmeans.predict([[23,535,33,435,334,34,34,45]])
type(xyz)
xyz

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

array([3])

In [12]:
import joblib
joblib.dump(kmeans, 'KMeans_Clustering')

['KMeans_Clustering']

In [14]:
kmeans.predict